In [1]:
import pandas as pd
import datetime
now = datetime.datetime.now()

In [2]:
df = pd.read_excel("data/" + str(now.year) + "-" + str(now.month) + ".xls", skiprows=5)
df = df.fillna(value=0)
df = df.replace("OK", 1)
df.columns = ["clown"] + [x for x in df.columns[1:]]
df = df[["clown"] + [x for x in df.select_dtypes('number').columns if df[x].sum() >= 2]]
df = df[df["clown"].apply(lambda x: x != "Count")]
df

,clown,PED AM.1,PED PM.4,PED AM.5,PED PM.11,PED PM.12,PED AM.17,PED PM.18,PED AM.23,PED PM.26
0,Valentina Bacchi,0,1,0,0,0,0,1,0,0
1,Luca Della Pasqua,0,0,1,0,0,0,0,0,0
2,Annalisa Cavini,0,0,1,0,0,0,0,0,0
3,Fabrizio,1,0,0,0,0,0,0,0,0
4,Manuela Fanti,1,0,0,0,0,1,0,1,0
5,Matteo F,0,1,0,0,0,0,0,0,0
6,Tamara,0,0,0,0,1,0,0,0,1
7,Alberto,0,0,0,1,0,0,0,0,0
8,Antonio,0,0,0,0,0,0,1,0,0
9,Gabriella - Blum,0,0,0,1,0,0,0,0,0
10,Loretta,0,0,0,0,0,1,0,1,0
11,Marco,0,0,0,0,1,0,0,0,1
12,Mingrone Valentina,0,0,0,0,0,0,0,0,0

In [3]:
s = """
Ciao Nasi!

Allego il file con i turni.

Chi ha fatto almeno un turno deve (il prima possibile):
- Confermare la correttezza del file Excel rispondendo a questa e-mail
- Inviare il RIMBORSO KM ed eventuale RIMBORSO SCONTRINO

Un paio di statistiche:
- I clown attivi sono {attivi}
- I turni coperti sono {turni}

Grazie

PS. 
- Mantenete il doodle aggiornato (e.g., quando salta un turno)
- Modificate il doodle *senza* duplicare le vostre votazioni (e.g., quando cancellate/aggiungete turni)
"""

turni = len(df.columns) - 1
attivi = len(df[df.sum(axis=1) > 0].index)

print(s.format(attivi=attivi, turni= turni))

Ciao Nasi!

Allego il file con i turni.

Chi ha fatto almeno un turno deve (il prima possibile):
- Confermare la correttezza del file Excel rispondendo a questa e-mail
- Inviare il RIMBORSO KM ed eventuale RIMBORSO SCONTRINO

Un paio di statistiche:
- I clown attivi sono 12
- I turni coperti sono 9

Grazie

PS.
- Mantenete il doodle aggiornato (e.g., quando salta un turno)
- Modificate il doodle *senza* duplicare le vostre votazioni (e.g., quando cancellate/aggiungete turni)

C:\Users\MATTEO~1.FRA\AppData\Local\Temp/ipykernel_279948/815383056.py:22: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  attivi = len(df[df.sum(axis=1) > 0].index)